<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDs16a59cW9eD8_7tzmh2fvNpSP6qm19Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>168220106854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opbgroup.onepercentbetter</string>
	<key>PROJECT_ID</key>
	<string>onepercentbetter-839f9</string>
	<key>STORAGE_BUCKET</key>
	<string>onepercentbetter-839f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168220106854:ios:3a28cc76c83501b0d24da7</string>
</dict>
</plist>